@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@300;400;500;600;700&display=swap');
/*------------INDEX.html-------------*/

body, html {
    height: 100vh;
    overflow-x: hidden;
}

.background-map{
    position: relative;
    background-image: url("../images/kandi2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row-top{
    background-color: transparent;
    height: 250px;
    padding-top: 25px;
}   

h1{
    font-family: Raleway, sans-serif;
    font-weight: 600;
    text-align: center;
}

.intro{
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight:400 ;
}

.copyright{
    font-family: Raleway, sans-serif;
    font-size:16px;
    font-weight:300;
    margin-top: 10px;
}

.table{
    display: none;
}

/*-------------DROPDOWN----------------*/

.dropdown-menu{
    background-color:#e3edf1;
    border: none;
}  

.dropdown-item{
    
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

/*-------------NAVBAR----------------*/

.navbar-light {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

a.nav-link{
    color:#fafafa !important;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    padding-left: 20px !important;
    padding-right: 20px !important;
}



/*-------------FOOTER----------------*/
.footer{
    background-color: rgba(0, 0, 0, 0.2);
    color:#fafafa;
    height: 40px;  
}

/*---------------MAP----------------*/

.map-text{
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight:400;
    padding-top: 20px;
}

.column-map{
    margin-top: 20px;
    position: absolute;
    height: 450px;
    
}

.btn-reset{
    border: 1px solid #212529;
    background-color: #fafafa;
    font-weight: 500;
    font-family: Raleway, sans-serif;
}

input#search-box-map.pac-target-input{
    margin-top: 10px;
    height: 40px;
    border: none;
    margin-right: 10px;
}

input[type="text1" i]{
    font-size: 18px;
    text-align: center;
}

.gm-style .gm-style-iw{
    text-align: center;
    font-weight: 500;
    font-family: Lato, sans-serif;
}
/*------------PAGES-LOCATIONS.HTML-------------*/

.copyright-pages{
    color: #212529;
    font-family: Raleway, sans-serif;
    font-weight:500;
}

.par-pages{ 
    font-size: 20px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 20px;
}

.info-pages{
    background-color: #e3edf1;
}

.pages-h3{
    margin-bottom: 25px;
}

.pages-links{
    padding-bottom: 60px;
}

/*------------MIRISSA.HTML-------------*/

.mirissa-container{
    position: relative;
    background-image: url("../images/mirissa1.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.title-mirissa{
    padding-bottom: 30px;
    margin-top: 130px;
}

.navbar-toggler-mirissa{
    background-color: #e3edf1;

}

/*------------MEDIA QUERY-------------*/

@media screen and (max-width: 768px) {
    .column-map{
        height: 230px;
        position: absolute;      
    }
    .intro, .map-text{
        font-size: 15px;   
        color: #fafafa;
    }
    input[type="text1" i]{
        font-size: 14px;
    }
    .messagebox, .subjectbox, .emailbox, .namebox{
        margin-bottom: 10px;
    }
    .col-welcome{
        background-color: rgba(0, 0, 0, 0.3);
    }
    .col-map-text{
        margin-top: 20px;
        background-color: rgba(0, 0, 0, 0.3);
    } 
    .welcome-title{
        padding-top: 5px;
    }
    .title-anura{
        margin-top: 0px!important;
        text-align: center!important;
    }
    .slideshow{
        display: none;
    }
    .pic-mobile{
        display: initial!important;
    }
}
    
/*------------CONTACTUS.html-------------*/

.contact{
    margin-top: 8px;
    z-index: 1;
}

.background-contact{
    position: relative;
    background-image: url("../images/kalkuda5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    background-color: rgba(0, 0, 0, 0.3);
    margin: 40px 20px;
}

.form-control {
    font-weight: 500;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3); 
    border-color: #fafafa; 
}

form .form-control::placeholder{
    color: #fafafa;
}

.messagebox, .subjectbox, .emailbox, .namebox{
    margin-bottom: 50px;
}

.btn-submit{
    border: 1px solid #fafafa;
    font-weight: 500;
    font-family: Raleway, sans-serif;
    color: #fafafa;
    margin-bottom: 50px;
}   

/*------------ANURADHAPURA.HTML-------------*/

.anura-container{
    position: relative;
    background-image: url("../images/anura1.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-anura{
    margin-top: 80px;
    text-align: left;
}

/*------------GALLERY.HTML-------------*/


.nav-gallery{
    margin: 0px 15px;
   
}

.container-gallery{
    padding: 0;
    position: absolute;  
    background-image:url("../images/anura1.jpg");
}

.slidePic{
    display: none;
    padding: 0px;
}

.pre,
.next{
    cursor: grab;
    position: absolute;
    top: 50%;
    width: auto;
    margin: 0 20px;
    color: #fafafa!important;
    font-weight: bold;
    font-size: 50px;
    user-select: none;
    -webkit-user-select: none;
}

.next{
    right: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pic-mobile{
    display: none;
}
